.skills {
  min-height: 20vh;
  background: radial-gradient(
    circle,
    rgba(19, 26, 29, 1) 33%,
    rgb(0, 36, 36) 100%
  );
}

.skills-container {
  width: 80vw;
  margin: 0 auto;
  padding: 4rem 0;
}

.skills h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .skills-container {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.skill-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill-icons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
}

.skill-icons img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-icons img:hover {
  transform: scale(1.1);
}