.skills {
  min-height: 20vh;
  width: 100vw;
  background: radial-gradient(
    circle,
    rgba(19, 26, 29, 1) 33%,
    rgb(0, 36, 36) 100%
  );
}

.skills-container {
  width: 80vw;
  margin: 0 auto;
}

.skills h2 {
  font-size: 3rem;
}
