@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Sora", sans-serif;
}

html {
  font-size: 60%;
  overflow-x: hidden;
  min-height: 100%;
}

:root {
  --bg-color: #080808;
  --subtitle-color: #000a10;
  --text-color: white;
  --main-color: #0ed6cd;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  user-select: #f2d7ee;
}

::selection {
  color: #14191c; /* Changes highlighted text color */
  background-color: #617070; /* Changes highlight background color */
}
